*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

img {
    border:0px;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.clr{
    clear: both;
}

.custrom-view-table tr {
    width: 29%;
}
.custrom-view-table tr td{
    font-style: 17px !important;
}
.custrom-view-table tr td:first-child {
    font-weight: bold !important;
    text-align: right !important;
}

.custrom-view-table tr td:last-child {

}

